<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <form action="/search/results" method="post">
        <h2>Search by:</h2>

        <p>
            @foreach (var column in ViewBag.columns)
            {
            <span>
                @if (column.Key.Equals(ViewBag.selectedFilter))
                {
                    <input type="radio" name="searchType" id="@column.Key" value="@column.Key" checked="@column.Key" />
                }
                else
                {
                    <input type="radio" name="searchType" id="@column.Key" value="@column.Key" />
                }
                <label for="@column.Key">@column.Value</label>
            </span>
            }

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />
</div>

@{
//TODO #4: Loop over the search results to display all job fields.
    <div>

        @if (ViewBag.jobs != null)
        {
            @foreach (var job in ViewBag.jobs)
            {

                <table table-striped class="body-content" border="0" align="center" width="50%">

                    <tr>


                        <td>ID :</td>
                        <td>@job.Id</td>
                    </tr>
                    <tr>
                        <td>Name :</td>
                        <td>@job.Name</td>
                    </tr>
                    <tr>
                        <td>Employer :</td>
                        <td><a asp-controller="List" asp-action="Jobs" asp-route-column="employer" asp-route-value="@job.Employer">@job.Employer</a></td>
                    </tr>
                    <tr>
                        <td>Location :</td>
                        <td><a asp-controller="List" asp-action="Jobs" asp-route-column="location" asp-route-value="@job.Location">@job.Location</a></td>
                    </tr>
                    <tr>
                        <td>Position :</td>
                        <td><a asp-controller="List" asp-action="Jobs" asp-route-column="positionType" asp-route-value="@job.PositionType">@job.PositionType</a></td>
                    </tr>
                    <tr>
                        <td>Skill :</td>
                        <td><a asp-controller="List" asp-action="Jobs" asp-route-column="coreCompetency" asp-route-value="@job.CoreCompetency">@job.CoreCompetency</a></td>


                    </tr>


                </table>


            }



        }
    </div>
    }