<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <form action="/search/results" method="post">
        <h2>Search by:</h2>

        <p>
            @foreach (var column in ViewBag.columns)
            {
                <span>
                    <input type="radio" name="searchType" id="@column.Key" value="@column.Key" checked="@column.Key == 'all'" />
                    <label for="@column.Key">@column.Value</label>
                </span>
            }

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />
    </div>

    @{ 
//TODO #4: Loop over the search results to display all job fields.
        <div>

        <table table-striped class="body-content" border="0" align="center">
            @if (ViewBag.jobs != null)
            {
                @foreach (var job in ViewBag.jobs)
                {
                <tr>
                    <td>
                        <ul>
                            <li>ID:@job.Id</li>
                            <li>Name:@job.Name</li>
                            <li>Employer:@job.Employer</li>
                            <li>Location:@job.Location</li>
                            <li>Position:@job.PositionType</li>
                            <li>Skill:@job.CoreCompetency</li>
                        </ul>
                    </td>
                </tr>

            }
            }
        </table>
        <br />
    

</div>
        }