<div class="container body-content">

    <h1>@ViewBag.title</h1>

    @{
        //TODO #1: Use a loop to display job results in a table.

        @foreach (var job in ViewBag.jobs)
        {
            <table table-striped class="body-content" border="0" align="center" width="50%">

                <tr>


                    <td>ID :</td>
                    <td>@job.Id</td>
                </tr>
                <tr>
                    <td>Name :</td>
                    <td>@job.Name</td>
                </tr>
                <tr>
                    <td>Employer :</td>
                    <td><a asp-controller="List" asp-action="Jobs" asp-route-column="employer" asp-route-value="@job.Employer">@job.Employer</a></td>
                </tr>
                <tr>
                    <td>Location :</td>
                    <td><a asp-controller="List" asp-action="Jobs" asp-route-column="location" asp-route-value="@job.Location">@job.Location</a></td>
                </tr>
                <tr>
                    <td>Position :</td>
                    <td><a asp-controller="List" asp-action="Jobs" asp-route-column="positionType" asp-route-value="@job.PositionType">@job.PositionType</a></td>
                </tr>
                <tr>
                    <td>Skill :</td>
                    <td><a asp-controller="List" asp-action="Jobs" asp-route-column="coreCompetency" asp-route-value="@job.CoreCompetency">@job.CoreCompetency</a></td>


                </tr>


            </table>


        }
        <br />




    }


</div>